
/*logo settings*/
.navbar-brand {
	background: url('../images/logoblack.png');
	background-size: contain; /* or cover, or a specific size like 100px 50px */
	height: 100px; /* Set the height of the navbar to match your logo */
	width: 100px; /* Set the width of the navbar to match your logo */
	display: flex;
	align-items: center;
	opacity: 0.3; /* Set the initial opacity value (less opacity) */
	transition: opacity 0.3s ease; /* Add a smooth transition effect */
}
/* Change opacity on hover on logo */
.navbar-brand:hover {
	opacity: 0.8; /* Set opacity to 1 (full opacity) on hover */
}

.title {
	text-align: center;
	position: relative;
	margin-top: 150px;
	margin-bottom: 50px;
	color: rgb(0, 0, 0);
}

.portfolio-item:hover img {
	opacity: 0.4;
}

/* social media icons styling */
.social-icons {
	font-size: 40px;
	cursor: pointer;
}
.fa-artstation:hover,.fa-instagram:hover,.fa-github:hover,.fa-linkedin:hover {
	color: #000000;
}
.fab {
	color: #ffffff;
}
/* footer styling */
#footer {
	background-color: rgba(128, 128, 128, 0.3);
	text-align: center;
	position: absolute;
	width: 100%;
}

@media screen and (max-width:767px) {
.NAME{
	margin-left: 10%;
}

}
