/*logo settings*/
.navbar-brand {
	background: url('../images/logo.png');
	background-size: contain; /* or cover, or a specific size like 100px 50px */
	height: 100px; /* Set the height of the navbar to match your logo */
	width: 100px; /* Set the width of the navbar to match your logo */
	display: flex;
	align-items: center;
	opacity: 0.3; /* Set the initial opacity value (less opacity) */
	transition: opacity 0.3s ease; /* Add a smooth transition effect */
}
/* Change opacity on hover on logo */
.navbar-brand:hover {
	opacity: 0.8; /* Set opacity to 1 (full opacity) on hover */
}
/*background image */
.bgimage {
	align-content: center;
	height:100vh;
	background: url('../images/bg.gif');
	background-size:cover;
	position:relative;
}
/*title*/
.hero_title {
	font-size: 5rem;
}
/*subtitle*/
.hero_desc {
	font-size: 2rem;
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
/* social media icons styling */
.social-icons {
	font-size: 40px;
	cursor: pointer;
}
.fa-artstation:hover,.fa-instagram:hover,.fa-github:hover,.fa-linkedin:hover {
	color: #000000;
}
.fab {
	color: #ffffff;
}
/* footer styling */
#footer {
	background-color: rgba(128, 128, 128, 0.3);
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
}

/*IPAD*/
@media only screen and (min-width: 700px) and (max-width: 1024px) and (orientation: portrait){
	.navbar-brand {
		height: 120px; /* Set the height of the navbar to match your logo */
		width: 120px; /* Reduzca el tama単o del logo en pantallas peque単as */
	}
	.hero_title {
		font-size: 6rem;
	}
}

/*NOT WORKING ON SMALL DEVICES*/
@media only screen and (max-width: 376px) and (orientation:portrait){
	.navbar-brand {
		height: 150px; /* Set the height of the navbar to match your logo */
		width: 120px; /* Reduzca el tama単o del logo en pantallas peque単as */
	}
	.hero_title {
		font-size: 10rem;
	}
}
